@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(initiative_bg.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    color:#ffffff;
    font-family: Poppins, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: rgba(0, 0, 0);
    color: #f1f1f1;
}

li {
    float: left;
    font-family: Poppins, sans-serif;
    
}

li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    margin-left: 0;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    
    background-color: #CD921E;
    /* border-bottom-style: solid; */
    color: #fff;
    /* border-bottom-color: #CD921E;
    border-bottom-width: 5px; */
}

li a:active {
    background-color: #CD921E;
    color: #fff;
}

a:link {
    text-decoration: none;
}

#img2{
    height: 60px;
    width: 400px;
    margin: 4px;
    bottom: 0;
    float: right;
    position: relative;
}

.content{
    margin-top: 70px;
}

#h{
    text-align: center;
    font-size: 7vh;
}

.welcome{
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.welcome p{
    font-size: 18px;
}
.glimpse{
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-size: 18px;
}

.accordion {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    cursor: pointer;
    margin: auto;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top:20px;
    font-size: 18px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
    color: #2a2a2a;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
  }

